{% extends 'template.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    iShoes Project - {{user_name}}
{% endblock %}

{% block body %}
    <!-- HTML content for this page goes here! -->

    <!-- This is just a placeholder -->
    <p class=" h1 text-center">{{user_name}}'s Account Page</p>
    <div class='container col-3'>
        <div class="row mb-5 mt-5">
            <button type="button" onclick="location.href='/logout'"
                    class="btn btn-primary">Log Out</button>
        </div>
    </div>
{% endblock %}