{% extends 'template.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    iShoes Project - Cart
{% endblock %}

{% block body %}
    <!-- HTML content for this page goes here! -->

    <!-- This is just a placeholder -->
    {% if cart_count == 0 %}
    <p class="h1 text-center text-danger">Your cart is empty.</p>
    {% else %}
    <div class="container-md mx-50 my-5">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Color</th>
                    <th scope="col">Size</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(cart|length) %}
                <tr>
                    <th scope="row">{{ cart[i][0] }}</th>
                        <td>{{ cart[i][1] }}</td>
                        <td>{{ cart[i][2] }}</td>
                        <td>{{ cart[i][3] }}</td>
                        <td>${{ cart[i][4] }}</td>
                        <td>
                            <form method="POST" action="">
                                <button class="btn btn-danger" name="remove" type="submit" value="{{ i }}">Remove Item
                                </button>
                            </form>
                        </td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td><td></td><td></td><td></td>
                    <td>Total: ${{ total }}</td>
                    <td>
                        <button class="btn btn-primary" name="checkout" type="button"
                                onclick="location.href='{{ url_for('checkout') }}'">Checkout</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}