{% extends 'template.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    iShoes Project - Cart
{% endblock %}

{% block body %}
    <!-- HTML content for this page goes here! -->

    <!-- This is just a placeholder -->
    {% if cart_count == 0 %}
    <p class="h1 text-center text-danger">Your cart is empty.</p>
    {% else %}
    <div class="container-md mx-50 my-5">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Color</th>
                    <th scope="col">Size</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(cart|length) %}
                <tr>
                    <th scope="row">{{ cart[i][0] }}</th>
                        <td>{{ cart[i][1] }}</td>
                        <td>{{ cart[i][2] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endblock %}