{% extends 'template.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    iShoes Project - Cart
{% endblock %}

{% block body %}
    <!-- HTML content for this page goes here! -->

    <!-- This is just a placeholder -->
    {% if cart_count == 0 %}
    <p class=" h1 text-center text-danger">Your cart is empty.</p>
    {% else %}
    <p class=" h1 text-center">Number of items in cart: {{cart_count}}</p>
    <div class="row justify-content-center">
        <div class="col-auto">
            <button type="button" onclick="location.href='/remove_cart'"
                    class="btn btn-primary">Remove Cart Item</button>
        </div>
    </div>
    {% endif %}
{% endblock %}