{% extends 'template.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    iShoes Project - Create Account
{% endblock %}

{% block body %}
    <p class="h2 mt-5 text-center">Create an iShoes Account</p>
    {% if user_match %}
    <p class="fs-5 text-danger text-center mt-5">Username is already in use, please select another.</p>
    {% endif %}
    {% if not password_match %}
    <p class="fs-5 text-danger text-center mt-5">Passwords do not match, please enter them again.</p>
    {% endif %}

    <div class="container col-6 mt-5">
        <form method="POST">
            <div class="mb-3 col-6">
                <label for="userNameInput" class="form-label">Username</label>
                <input type="text" class="form-control" id="userNameInput" name="userNameInput">
            </div>
            <div class="mb-3 col-6">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput" name="passwordInput">
            </div>
            <div class="mb-3 col-6">
                <label for="passwordInputVer" class="form-label">Verify Password</label>
                <input type="password" class="form-control" id="passwordInputVer" name="passwordInputVer">
            </div>
            <div class="mb-3 col-6">
                <label for="emailAddress" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="emailAddress" name="emailAddress">
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName">
                </div>
                <div class="col-8">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName">
                </div>
            </div>
            <div class="mb-3 col-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address">
            </div>
            <div class="row mb-3">
                <div class="col-7">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="col-2">
                    <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control" id="state" name="state">
                </div>
                <div class="col-3">
                    <label for="zipCode" class="form-label">Zip Code</label>
                    <input type="text" class="form-control" id="zipCode" name="zipCode">
                </div>
            </div>
            <div class="row ml-auto mb-5">
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}