{% extends 'template.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    iShoes Project - Home
{% endblock %}

{% block body %}
    <p class="h1 text-center">iShoes</p>

    <hr>

    <div class="container">
      <div class="p-5 mb-4 bg-light border rounded-3">
        <h1 class="display-4">Where the shoes from your dreams, come true</h1>
        <p class="lead">Add slide show of interactive photos </p>
        <hr class="my-4">
        <p>Here we can put another catch phrase I guess</p>
          <a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a>
      </div>
    </div>
{% endblock %}
