{% extends 'template.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    iShoes Project - Shop
{% endblock %}

{% block body %}
<style>
    /* Columns */
    .left-column {
    float: left;
      width:33%;
      vertical-align: middle
    }


    .middle-column {
    float: left;
        width: 34%;
        vertical-align: middle
    }

    .right-column {
    float: left;
      width: 33%;
      vertical-align: middle
    }



        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        @media screen and (max-width: 600px) {
  .left-column, .middle-column, .right-column {
    width: 100%;
  }
}

</style>

<div class="row">
  <div class="left-column">
    <img data-image="white" class="active" src="{{ url_for('static', filename='images/white.png') }}" width = "250" height = "150" alt="">
    <a href="{{ url_for('shop_id', item_id=0) }}" class="btn btn-primary">Shop for Custom Nike Air Force 1's</a>
    <span>$150</span>
</div>

<div class="middle-column">
    <img data-image="white" class="active" src="{{ url_for('static', filename='images/white_vans.png') }}" width = "300" height = "150" alt="">
    <a href="{{ url_for('shop_id', item_id=1) }}" class="btn btn-primary">Shop for Custom Vans</a>
    <span>$90</span>
</div>

<div class="right-column">
    <img data-image="white" class="active" src="{{ url_for('static', filename='images/white_converse.png') }}" width = "250" height = "150" alt="">
    <a href="{{ url_for('shop_id', item_id=2) }}" class="btn btn-primary">Shop for Custom Converse</a>
    <span>$90</span>
</div>
</div>



{% endblock %}