{% extends 'template.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    iShoes Project - Shop
{% endblock %}

{% block body %}
<style>
    /* Columns */
    .left-column {
      width:33%;
      position: relative;
    }

    .left-column, .middle-column,
     .right-column img {
  width: 100%;
  position: absolute;
  opacity: 1;
}

    .middle-column {
        width: 34%;
        position: relative;
    }

    .right-column {
      width: 33%;
      margin-top: 60px;
    }

</style>

<div class="left-column">
    <img data-image="white" class="active" src="{{ url_for('static', filename='images/white.png') }}" alt="">
    <a href="{{ url_for('shop_id', item_id=0) }}" class="btn btn-primary">Shop for Custom Nike Air Force 1's</a>
    <span>$150</span>
</div>

<div class="middle-column">
    <img data-image="white" class="active" src="{{ url_for('static', filename='images/white_vans.png') }}" alt="">
    <a href="{{ url_for('shop_id_vans', item_id=1) }}" class="btn btn-primary">Shop for Custom Vans</a>
    <span>$90</span>
</div>

<div class="right-column">
    <img data-image="white" class="active" src="{{ url_for('static', filename='images/white_converse.png') }}" alt="">
    <a href="{{ url_for('shop_id_converse', item_id=2) }}" class="btn btn-primary">Shop for Custom Converse</a>
    <span>$90</span>
</div>




{% endblock %}