<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF"
          crossorigin="anonymous">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"></script>

    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% endblock %}
</head>
<body>
    <nav class="navbar bg-dark navbar-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand ms-3"
               style="font-family:Monaco; font-stretch:condensed; font-size:40px; font-weight: bold;"
               href="/home">iShoes</a>
            <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <span class="navbar-text text-white ms-3">
                    Welcome, {{user_name}}!
                </span>
                <ul class="navbar-nav">
                    <li class="nav-item ms-3">
                        {% if user_name == 'Guest' %}
                        <a class="nav-link" href="/login">Login</a>
                        {% else %}
                        <a class="nav-link" href="/account">My Account</a>
                        {% endif %}
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link" href="/cart">Cart
                            {% if cart_count > 0 %}
                            <span class="badge bg-secondary">{{cart_count}}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>